<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.department_database">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Department_DataBase">
        <activity
            android:name=".FacultyTable"
            android:exported="true" />
        <activity
            android:name=".StudentTable"
            android:exported="true" />
        <activity
            android:name=".StudentNavegation"
            android:exported="true" />
        <activity
            android:name=".facultyNavegation"
            android:exported="true"
            android:label="Faculty&apos;s menu"
            android:parentActivityName=".Main_Menu" />
        <activity
            android:name=".SearchFac"
            android:exported="true"
            android:label="Search Faculty&apos;s"
            android:parentActivityName=".Main_Menu" />
        <activity
            android:name=".SearchCato"
            android:exported="true"
            android:label="Search Student&apos;s"
            android:parentActivityName=".Main_Menu" />
        <activity
            android:name=".EditorFaculty"
            android:exported="true"
            android:label="Edit Faculty Details" />
        <activity
            android:name=".SearchFaculty"
            android:exported="true"
            android:label="Search Faculty&apos;s"
            android:parentActivityName=".Main_Menu" />
        <activity
            android:name=".FacultyDetails"
            android:exported="true"
            android:label="Add New Faculty Details"
            android:parentActivityName=".Main_Menu" />
        <activity
            android:name=".EditorActivityStudent"
            android:exported="true"
            android:label="Edit Student Details" />
        <activity
            android:name=".SearchSQLiteActivity"
            android:exported="true"
            android:label="Search Student&apos;s"
            android:parentActivityName=".Main_Menu" />
        <activity
            android:name=".StudentDetails"
            android:exported="true"
            android:label="Add New Student Details"
            android:parentActivityName=".Main_Menu" />
        <activity
            android:name=".Log_In"
            android:exported="true"
            android:label="Log In" />
        <activity
            android:name=".Main_Menu"
            android:exported="true"
            android:label="Main Menu" />
        <activity
            android:name=".Reset_password"
            android:exported="true"
            android:label="Reset password" />
        <activity
            android:name=".Forget_password"
            android:exported="true"
            android:label="Forget Password" />
        <activity
            android:name=".Create_Account"
            android:exported="true"
            android:label="Create Account" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main_Menu" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>